week-1/conFusion/bower_components

week-2/conFusion-gulp/bower_components
week-2/conFusion-gulp/node_modules
week-2/conFusion-gulp/dist
week-2/conFusion-gulp/.tmp

week-2/conFusion-grunt/bower_components
week-2/conFusion-grunt/node_modules
week-2/conFusion-grunt/dist
week-2/conFusion-grunt/.tmp

week-3/conFusion/bower_components
week-3/conFusion/node_modules
week-3/conFusion/dist
week-3/conFusion/.tmp